{% load static%}
<!DOCTYPE html>
<html>
	<title>StoryMarket</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'profile.css'%}">
	<style type="text/css">

	</style>
</head>
<body style="background-color: #E6E9ED">

<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">lorem</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
<script src="{% static 'jquery.min.js'%}"></script>
<script src="{% static 'bootstrap.min.js'%}"></script>


</body>