*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
.middle{
	margin:10px;
	margin-top:0px;
	padding:0px;
}
.wrapper{
	border:1px solid black;
	padding-top:15px;
	width:auto;
	height:auto;
}

.profile-box{
	background-color: white;
	padding:3%;
	margin:2%;
	border-radius: 2%;
}

.profile-pic{
	width:80px;
	height:80px;
	position: relative;
	border:1px dashed black;
	background-color: #F0F3F4;
	margin:5px;
}

.profile-container{
	padding:10px;
	margin:5px;
	margin-left:0px;
}